{%- extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Welcome to Trumark DB</h1>      
   </div>
   <div>
    <form name="search" action="." method="post">
        <label>Query:</label>
        <input type="text" name="query" size="100">
        <input type="submit" value="submit">
        </form>
       <br>
       <h4><span> <em> <span> Available Commands </span> </em> </span></h4>
<hr />
<p><strong> [name:] </strong> Glob search for names of CARDs.</p>
<blockquote>
<p><em> e.g. name:Sol Ring </em></p>
</blockquote>
<p><strong> [text:] </strong> Searches for keyword in CARD text.</p>
<blockquote>
<p><em> e.g. text:island walk </em></p>
</blockquote>
<p><strong> [mana:] </strong> Search for CARD with specific mana cost.</p>
<blockquote>
<p><em> e.g. mana:{U}{U} </em></p>
</blockquote>
<p><strong> [type:] </strong> Search for CARD with specified type</p>
<blockquote>
<p><em> e.g. type:creature </em></p>
</blockquote>
<p><strong> [sub:] </strong> Search for CARD with specified subtype.</p>
<blockquote>
<p><em> e.g. sub:angel </em></p>
</blockquote>
<p><strong> [super:] </strong> Search for CARD with&nbsp; specified supertype.</p>
<blockquote>
<p><em> e.g. super:legendary </em></p>
</blockquote>
<p><strong> [color:] </strong> Search for CARD with one or more colors.</p>
<blockquote>
<p><em> e.g. color:r ,&nbsp; color:rg <br /> </em></p>
</blockquote>
<p><strong>[set:]</strong> Search for a particular SET.</p>
<blockquote>
<p><em>e.g. set:5ED</em></p>
</blockquote>
<p><strong>[in:]</strong> Used to Search a CARD in SET.</p>
<blockquote>
<p><em>e.g.in:sol ring</em></p>
</blockquote>
<p><strong>[all]</strong> Used to get all continence of tables.</p>
<blockquote>
<p><em>e.g. set:all<br /></em></p>
</blockquote>
<h4>Operators&nbsp; &lt;,&gt;,&lt;=,&gt;=,==</h4>
<p>Used in numerical comparisons.</p>
<blockquote>
<p><em> i.e.cost:&lt;10 </em><em></em></p>
</blockquote>
   </div>
{%- endblock %}
